html,
body {
  height: 100%;
  background-color: rgb(120, 134, 205)
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}


.button {
  
  display: inline-block;
  background-color: antiquewhite;
  padding: 15px 32px;
  text-align: center;
  margin-left: 30%;

}

#intro{
  margin: 20px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  
}
#ads{
  margin-top: 5px;
}
#ads1{
  float:left;
  padding: 15px;
 
}
#ads2{
  float:right;
 padding: 15px;

}
#ads4{
  display: flex;

}
#canvasContainer {
  display:block;
  padding-top: 30px;
  height:auto;
  text-align: center;
  font-size: larger;
  
}

#side content{
  display: flex;
  justify-content: center;
  align-items: center;
}


#banner{
  height: auto;
  margin-top: -20px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
  background-color: rgb(142, 124, 195);
}


#navigation{
  background-color: rgb(142, 124, 195);
  outline: 1px solid white;
  text-align: center;
  font-size: 30px;
  padding: 15px 25px;
  text-decoration: wavy;
  color: black;
}
#navigation :hover{
  background-color: white;
  color: black;
}

#navigation :active{
  background-color: antiquewhite;
}
.active, a{
  padding:15px;
  color:black;
  text-decoration: none;
}
